*{
    box-sizing: border-box;  
    padding: 0%;
    margin: 0%;   
}

body{
    margin: 0; 
    background-color: #e9d1dd;

} 

header{
    margin: 0%;
    background-color: #ce1471 ;
    width: 105%;
    height: 95px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

header h1{
    padding: 25px;
    color: #e9d1dd;
}

main{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    max-width: 900px;
}

.eu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    border-bottom: 2px solid #ccc;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    
    >div h1{
        color: #ce1471;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    >div p{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .imagem{
        width: 60%;
    }

    .texto{
        width: 38%
    
        
    }


}
section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    >div{
        width: 45%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        justify-content: center;

        h1{
            color: #ce1471;
            font-family: Arial, Helvetica, sans-serif;
            margin-bottom: 2%;
         }

        p{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        h3{
            color: rgb(61, 61, 192);
            font-family: 'Courier New', Courier, monospace;
            font-size: larger;
            margin-bottom: 5%;
            display: flex;
            justify-content: flex-end;
        }
    }

}
   

img{
    max-width: 100%; 
    border-radius: 5%;
    background-color: #e9d1dd;
    border: 4px solid #ce1471;
    margin-top: 5%;
}

div1{
    padding: 10px;

}

div2{
   padding: 5px;
}


footer{
    margin: 0%;
    margin-top: 3%;
    background-color: #ce1471 ;
    width: 105%;
    height: 70px;

}
footer h3{
    padding: 25px;
    color: #e9d1dd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media(max-width: 768px){
    main{
        height: auto;
    }
    main div {
        width: 70%;
        height: 100vh;

            .imagem{
                margin-left: 20%;

            }
            .texto{
                margin-left: 10%;
            }

            footer{
               height: 100vh;
            
            }
    }
}

@media (max-width:576px){     
    main div {
        width: 90%;
    }
}
