*{
    box-sizing: border-box;  
    padding: 0%;
    margin: 0%;   
}

body{
    margin: 0%; 
    background-color: rgb(249, 215, 220);

} 

header{
    margin: 0%;
    background-color: rgb(90, 29, 90);
    width: 100%;
    height: 95px;

}

header h1{
    padding: 25px;
    color: blanchedalmond
}

main{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
}

img{
    max-width: 100%; }

.imagem1{
    margin: 5%;
    width: 400px;
    height: 400px;
    border-radius: 5%;
    background-color: #f4dfd4;
    border: 4px solid rgb(199, 130, 199);

   
}
div1{
    padding: 10px;

}

div2{
   padding: 5px;
}

img, .texto1{
    display: inline-block;
}


.texto1{
    margin-left: 15px;
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    color: rgb(90, 29, 90);
    font-size: larger;
    font-weight: 200%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    
    
}

.texto2{
    padding: 16px;
    font-size: large;
    font-weight: 400%;
    font-family: Arial, Helvetica, sans-serif;
}

.imagem2{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin-top: 8%;
    margin-left: 35%;
    margin-bottom: 8%;
    width: 400px;
    height: 400px;
    border-radius: 5%;
    background-color: #EDDCEA;
    border: 4px solid rgb(199, 130, 199)
    


}

imagem2, .hashtag{
    display: inline-block;
}

.container{
    display: flex;
    align-items: center;
}
.hashtag{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 500px;
    flex-direction: row;
    font-size:x-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100px;

}

.texto3{
    margin-top: 10px;
    margin-left: 15px;
    width: 450px;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    color: rgb(90, 29, 90);
    font-size: larger;
    font-weight: 200%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

.texto4{
    display: flex;
    justify-content: center;
    width: 500px;

    flex-direction: row;
    padding: 16px;
    font-size: large;
    font-weight: 400%;
    font-family: Arial, Helvetica, sans-serif;
    
}

